@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap");

:root {
    --primary-color: black;
    --secondary-color: rgba(255, 255, 255, 0.705);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-component {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(30px);
    font-family: "Red Hat Display", sans-serif;
}

.gs_main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    box-shadow: 0 0 30px #000;
    overflow: hidden;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 0.2s;
}



/* -------------------- Hero ---------------------- */

.gs_round {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 450px;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 3s;
}

.gs_round span {
    background: #c41515dc;
    filter: blur(90px);
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 50%;
    animation: opac 2s linear infinite;
    animation-delay: 1.5s;
}

.gs_round span:nth-child(1) {
    background: #ffd037c9;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
}

.gs_round span:nth-child(2) {
    background: #ff7300ce;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 60px;
    right: 0;
    border-radius: 50%;
}

@keyframes opac {
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    0% {
        opacity: 0.5;
    }
}

.gs_hero_img {
    position: absolute;
    bottom: 40px;
    left: 25%;
    width: 604px;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 3s;
}

/* ------------------- Heading -------------------- */

.gs_heading {
    position: absolute;
    bottom: 33%;
    right: -60px;
    color: #fff;
    transform: rotate(-90deg);
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 2s;
}

.gs_heading h2 {
    font-size: 80px;
    font-weight: 900;
    color: var(--primary-color);
}

.gs_heading h1 {
    margin-top: -25px;
    font-size: 75px;
    font-weight: 900;
    color: var(--secondary-color);
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

/* ------------------- About -------------------- */

.gs_about {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gs_about h1 {
    color: var(--secondary-color);
    width: 80%;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 1s;
}

.gs_about p {
    color: var(--secondary-color);
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 1.5s;
}



.ko-text{
    color: #CF2926;
    font-weight: bold;
    font-size: 20px;
}

.gs_about span:nth-child(1) {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 20px;
}

.gs_about hr {
    width: 60%;
    height: 0.8px;
    background: rgb(97, 97, 97);
    border: none;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 2s;
}

.gs-btn {
    background-color: var(--secondary-color);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.5s ease;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 2s;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.gs-btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--primary-color);
}

.gs_button {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* ------------------- Social -------------------- */

.gs_social {
    background-color: var(--secondary-color);
    width: 50px;
    height: 140px;
    position: absolute;
    bottom: 0;
    border-radius: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 3s;
}

.gs_social img {
    width: 30px;
    transition: all 0.5s ease;
}

.gs_social img:hover {
    scale: 1.2;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}