@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}






  .float{
	position:fixed;
	width:70px;
	height:70px;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    z-index:100;
}
.float:hover {
	text-decoration: none;
}

.my-float{
	margin-top:16px;
}

.img-w{
    width: 50px;
    margin-top:10px;

}



  /* SECCION RESPONSIVE */
@media screen and (max-width:980px) {
    .paquetes {

        height: 100vh;
    }


    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }

    .gs_about {
        text-align: center;
        padding: 15px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

    .gs_heading{
        display: none;
    }

    .gs_hero_img{
        display: none;
    }

    .inner-content {
        display: none;
    }

    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

}

@media screen and (max-width:700px) {

    .paquetes {

        height: auto;
    }
    
}
@media screen and (max-width:350px) {

    .bg-component {
        height: 130vh;
    }

    .gs_main {
        position: relative;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95vw;
        height: 100vh;
    }
    
    .gs_about {
 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .gs_social {
        width: 40px;
        height: 140px;
      
    }
    
    .gs_social img {
        width: 25px;
        transition: all 0.5s ease;
    }
    
    .gs_social img:hover {
        scale: 1.2;
    }
    
}